<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxj.mapper.TblKeywordMapper" >
  <resultMap id="BaseResultMap" type="com.yxj.model.TblKeyword" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="word" property="word" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="RelativeMap" type="com.yxj.model.TblWord" >
    <result column="word" property="word" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, word
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yxj.model.TblKeywordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_keyword
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_keyword
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yxj.model.TblKeywordExample" >
    delete from tbl_keyword
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yxj.model.TblKeyword" >
    insert into tbl_keyword (id, word)
    values (#{id,jdbcType=INTEGER}, #{word,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yxj.model.TblKeyword" >
    insert into tbl_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="word != null" >
        word,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        #{word,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yxj.model.TblKeywordExample" resultType="java.lang.Integer" >
    select count(*) from tbl_keyword
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_keyword
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.word != null" >
        word = #{record.word,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_keyword
    set id = #{record.id,jdbcType=INTEGER},
      word = #{record.word,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxj.model.TblKeyword" >
    update tbl_keyword
    <set >
      <if test="word != null" >
        word = #{word,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxj.model.TblKeyword" >
    update tbl_keyword
    set word = #{word,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByLike" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_keyword
    where word like concat('%',#{word,jdbcType=VARCHAR},'%')
  </select>
   <select id="getRelative" resultMap="RelativeMap">
    select word from tbl_keyword a,
    (select bid from tbl_keyrelation a ,tbl_keyword b 
    	where a.aid=b.id and b.word = #{word,jdbcType=CHAR} ) b 
    where a.id =b.bid limit 0,6;
  </select>
   <select id="getIDByName" resultType="java.lang.String">
    select id 
    from tbl_keyword
    where word = #{word,jdbcType=CHAR}
  </select>
  
</mapper>